R library path	/home/ah3q/R/library
bin directory	/home/scratch/moirai/bin:/usr/local/bin:/usr/bin:/bin
config file	bin/Moirai.config
default server	dgt-ac4
execute file	bin/MoiraiExecute.pl
genome directory	/home/scratch/moirai/genome
input directory	input
install directory	install
jre path	/usr/bin/java
ls php	ls.php
miniconda3 directory	./miniconda3
moirai jar	bin/Moirai.jar
mysql php	mysql.php
project directory	development
project file	bin/Moirai.project
ribosomalRNA directory	/home/scratch/moirai/genome/rDNA
server directory	/osc-fs_home/scratch/moirai/server
server file	/home/scratch/moirai/bin:/usr/local/bin:/usr/bin:/bin/Moirai.server
sleep time	1000
software directory	/home/scratch/moirai/bin
suffix file	bin/Moirai.suffix
template directory	template
template editable	true
timezone	Asia/Tokyo
unit directory	unit
unit editable	true
user	ah3q
work directory	.
write php	write.php
